name: Publish
on:
  push:
    branches:
      - master
      - preview

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to allow adding git tags
      issues: write # to link resolved issues to the release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Determine release version and create a git tag"
        uses: docker://ghcr.io/codfish/semantic-release-action:v1.9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
